<div class="myBidLeft">
    <ul>
        <a href="">
            <li class="leftAccount"><span class="same span1"></span>我的账户</li>
        </a>
        <a href="">
            <li class="leftStrategy"><span class="same span2"></span>我的策略</li>
        </a>
        <a href="">
            <li class="leftRecord current"><span class="same span3"></span>投标记录</li>
        </a>
        <a href="">
            <li class="leftSummary"><span class="same span4"></span>投标统计</li>
        </a>
    </ul>
</div>