<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="https://cdn.paicaifu.com/bidPersonalEdition/css/pub/reset.css"/>
		<!--必须-->
		<link rel="stylesheet" type="text/css" href="https://cdn.paicaifu.com/bidPersonalEdition/css/pub/public.css"/>
	</head>
	<body>
		<div class="bid_footer">
			<div class="footerContent">
				<div class="footerleft">
					<span></span>
				</div>
				<div class="info">
						<p class="p1">（早9:00~12:00；下午13:00~18:00）</p>
						<br />
						<p class="p2">400-055-5915</p>
				</div>
				<div class="address">
					<p>公司地址：上海市浦东新区科苑路88号 德国中心1号楼8楼 </p>
					<br />
					<p>Copyright Reserved 2017 © 上海和拍企业管理有限公司   沪ICP备15052803号-1</p>
				</div>
			</div>
		</div>
	</body>
</html>
