
		     <%- include('header') %>
		<link rel="stylesheet" type="text/css" href="https://cdn.paicaifu.com/bidPersonalEdition/css/bidIndex.css" />
        <script src="https://cdn.paicaifu.com/bidPersonalEdition/js/bidIndex.js" type="text/javascript" charset="utf-8"></script>
		<div class="index_bid_main">
			<div class="index_bid_header">
				<div class="bidInstroduce">
					<div class="bidInstroduce_Content">
						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>优选智投</span>是一款为拍拍贷投资用户，免费提供优质标的筛选<br /><br />策略，以及拍拍贷账户资金无缝自动投标服务的智能投标平台。</p>
						<br /><br />
						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们的筛标策略是由互联网理财平台拍财富，经过长期投标和跟<br /><br />踪验证总结得出，可有效筛选出坏账风险较低的优质标的。</p>
					</div>
					<img class="bidIcon" src="https://cdn.paicaifu.com/bidPersonalEdition/img/bidIndex/bidIcon.png" />
					<a href=""></a>
					<img class="bidDown" src="https://cdn.paicaifu.com/bidPersonalEdition/img/bidIndex/slideDown.png" />
				</div>
			</div>
			<div class="index_bid_pratice">
				<div class="analyse">
					<p class="index_bidTitle">大量投标实践&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长期跟踪验证</p>
				</div>
				<p class="index_bidRatio">平均年化收益率&nbsp;&nbsp;<span>19.33%</span></p>
				<div class="index_bidData">
					<ul>
						<li class="li1">
							<div class="img imgSprite1"></div>
							<p class="p1">590天</p><br />
							<p class="p2">投标验证</p>
						</li>
						<li class="li2">
							<div class="img imgSprite2"></div>
							<p class="p1">384,758笔</p><br />
							<p class="p2">累计投出</p>
						</li>
						<li class="li3">
							<div class="img imgSprite3"></div>
							<p class="p1">384亿元</p><br />
							<p class="p2">累计投资</p>
						</li>
						<li class="li4">
							<div class="img imgSprite4"></div>
							<p class="p1">384位</p><br />
							<p class="p2">覆盖的借款人</p>
						</li>
					</ul>
					<div class="index_bidDataFooter">
						<p>以上数据由<a target="_blank" style="font-size: 18px;color: #f04d06" href="https://www.paicaifu.com/">拍财富</a>平台投标并验证</p>
						<img class="bidDown" src="https://cdn.paicaifu.com/bidPersonalEdition/img/bidIndex/slideDown.png" />
					</div>
				</div>
			</div>
			<div class="index_bid_data">
				<div class="analyse">
					<p class="index_bidTitle">大数据智能分析&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;筛标策略动态优化</p>
				</div>
				<p class="index_bidRatio1 index_bidRatio">平均坏账率&nbsp;&nbsp;<span>2.67%</span></p>
				<div class="index_bidData">
					<ul>
						<li class="li1">
							<div class="img1 img"></div><br />
							<p class="p1">28374期</p><br />
							<p class="p2">已到期还款</p>
						</li>
						<li class="li2">
							<div class="img2 img"></div><br />
							<p class="p1">2,837,437元</p><br />
							<p class="p2">已验证还款本金</p>
						</li>
						<li class="li3">
							<div class="img3 img"></div><br />
							<p class="p1"><span style="font-size: 24px;">已筛选出</span>74887位</p><br />
							<p class="p2">疑似高风险借款人</p>
						</li>
						<li class="li4">
							<div class="img4 img"></div><br />
							<p class="p2">大数据多维度分析</p><br />
							<p class="p2">借款人借款和还款行为</p>
						</li>
					</ul> 
					<div class="index_bidDataFooter">
						<p>以上数据由<a target="_blank" style="font-size: 18px;color: #f04d06" href="https://www.paicaifu.com/">拍财富</a>平台投标并验证</p>
						<img class="bidDown" src="https://cdn.paicaifu.com/bidPersonalEdition/img/bidIndex/slideDown.png" />
					</div>
				</div>
			</div>
			<div class="index_about">
				<div class="aboutContent">
					<div class="analyse">
						<p class="index_bidTitle">关于拍财富</p><br />
					</div>
					<p class="hr"></p>
					<div class="center">
						<p style="color: white;font-size: 16px;"><span style="font-size: 24px !important;">拍财富&nbsp;</span>成立于2015年11月，由互联网金融业界资深管理者和投资人发起成立，<br /><br /> 专注于提供多元化理财产品及全方位财富管理服务的互联网理财平台。<br /><br /> 从成立至今，
							<span style="font-size: 24px !important;">拍财富独享与拍拍贷的无缝对接，</span><br /><br /> 所销售的各类产品全部投标于拍拍贷平台的优质资产。
						</p>
					</div>
					<a href="https://www.paicaifu.com/" target="_blank" class="knowMore">了解更多></a>
				</div>
			</div>
		</div>
<%include footer%>