<%include ../header%>
		<link rel="stylesheet" type="text/css" href="https://cdn.paicaifu.com/bidPersonalEdition/css/bidRecord.css" />
		<!--分页样式-->
		<link rel="stylesheet" type="text/css" href="https://cdn.paicaifu.com/bidPersonalEdition/css/pub/laypage.css" />		
		<!--日历样式-->
		<link rel="stylesheet" type="text/css" href="https://cdn.paicaifu.com/bidPersonalEdition/css/pub/jedate.css"/>
		<!--分页插件-->
		<script src="https://cdn.paicaifu.com/bidPersonalEdition/js/pub/laypage.min.js" type="text/javascript" charset="utf-8"></script>
		<!--日历插件-->
		<script src="https://cdn.paicaifu.com/bidPersonalEdition/js/pub/jquery.jedate.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.paicaifu.com/bidPersonalEdition/js/pub/tools.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.paicaifu.com/bidPersonalEdition/js/bidRecord.js" type="text/javascript" charset="utf-8"></script>
		<div class="main">
			<div class="main_content">
				<!-- 公用左边-->
				 <%include ../bidLeft%>
				<!--右边-->
				<div class="main_right">
					<div class="main_right_content">
						<h1 class="content_title"><span>投标记录</span></h1>
						<div class="bid_date">
							<ul>
								<li class="li1">投标日期</li>
								<li class="li2"><input id="startDate" readonly/></li>
								<li class="li3"><span>——</span></li>
								<li class="li4"><input id="endDate" readonly/></li>
								<!--<li class="li5">查询</li>-->
							</ul>
						</div>
						<div class="bid_tab">
							<ul>
								<li ref="" class="current">全部</li>
								<li ref="0">投标中</li>
								<li ref="1">收款中</li>
								<li ref="2">已还清</li>
							</ul>
							<span class="bid_amount">投标金额：<span>12,568,464.33</span>元</span>
						</div>
						<div class="bid_info">
							<ul class="bid_info_title">
								<li class="li1">标的编号</li>
								<li class="li3">策略名称</li>
								<li class="li4">投标金额(元)</li>
								<li class="li5">利率</li>
								<li class="li6">期限</li>
								<li class="li7">投标时间</li>
							</ul>
							<div class="bid_info_box">
							
							</div>
							<div>
								<div class="pagesinfo">
									<span>共<span id="totalNum"></span>条记录 &nbsp;&nbsp;&nbsp;&nbsp;共<span id="totalPage"></span>页</span>
								</div>
								<div class="pages clearfix" id="pages">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<%include ../footer%>