<%include ../header%>        
<link rel="stylesheet" type="text/css" href="https://cdn.paicaifu.com/bidPersonalEdition/css/aboutMe.css" />
		<script>document.title="关于我们"</script>
		<div class="aboutMain">
			<div class="aboutHeader">
				<div class="aboutName">
					<div class="content">
						<h2>我们是</h2>
						<h1>优选智投 </h1>
						<p class="p1">一款专门为拍拍贷投资用户提供优质标的筛选和自动投标服务的投标平台</p><br /><br />
						<p class="p2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们的核心价值，是为用户筛选出利率高同时坏账风险较低的优质标的，最终为用户<br /><br />赚取更高的投资收益。</p><br />
					    <p class="p3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们提供的筛标策略以及相关技术服务全部由拍财富团队提供。拍财富成立于2015年11<br /><br />月，由互联网金融业界资深管理者和投资人发起成立，专注于提供多元化理财产品及全方位财<br /><br />富管理服务的互联网理财平台。从成立至今，<span style="color: white;font-size: 18px;">拍财富独享与拍拍贷的无缝对接，所销售<br /><br />的各类产品全部投标于拍拍贷平台优质资产。</span></p>
					</div>
				</div>
			</div>
			<div class="about2">
				 <h1>我们提供</h1>
				<div class="aboutGive">
					<ul class="icon">
						<li class="li1"></li>
						<li class="li2"></li>
						<li class="li3"></li>
						<li class="li4"></li>
					</ul>
					<ul class="word">
						<li style="padding-left: 20px;">
							<p class="p1">经过大量资金长期验证的</p><br />
							<p class="p2">优质筛标策略</p>
						</li>
						<li>
							<p class="p1">优质筛标策略</p><br />
							<p class="p2">持续动态优化策略</p>
						</li>
						<li>
							<p class="p1">拍拍贷账户资金</p><br />
							<p class="p2">无缝自动投标</p>
						</li>
						<li>
							<p class="p1">多维度多视角</p><br />
							<p class="p2">可视化统计图表</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="about3">
				<div class="have">
					<h1>我们有</h1>
					<ul>
						<li class="li1">
							<p>专业的金融团队</p>
							<p>和丰富的投标业务经验</p>
						</li>
						<li class="li2">
							<p>成熟的技术研发</p>
							<p>和大数据算法分析团队</p>
						</li>
						<li class="li3">
							<p>拍财富平台自有用户</p>
							<p>投资资金持续验证</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="about4">
				<div class="map">
					<h1>联系我们</h1>
					<img src="https://cdn.paicaifu.com/bidPersonalEdition/img/aboutMe/map.jpg"/>
					<p class="p1" style="margin-top:20px;">
						<img src="https://cdn.paicaifu.com/bidPersonalEdition/img/aboutMe/address.png"/>
						联系电话： 400-055-5915 <span style="font-size: 14px;">（工作日 09:00-12:00 13:00-18:00）</span></p><br />
					<p class="p1"><img src="https://cdn.paicaifu.com/bidPersonalEdition/img/aboutMe/address.png"/>公司地址：上海市浦东新区科苑路88号 德国中心1号楼8楼</p>
				</div>
			</div>
		</div>
<%include ../footer%>